#Project title: Summary of the current satellite situation and distribution

Project definition: Satellites are now reaching a stage of commercialize usage, with 5540 satellite launches and 36 satellite attributes being recorded in the dataset, the project will be focused on discovering the similarities between satellites, finding patterns and determining the satellite trends. Ultimately provide a summary guide to map out the current satellites situation and supply insights about the satellite distribution.


Data source: https://www.ucsusa.org/resources/satellite-database (UCS Satellite Database)

Motivation: As SpaceX reaches success in satellite launch, it shows how satellites have been pushed towards a stage of commercialization. With more investment opportunities for satellites, it is paramount that companies know about the current satellite distribution.Therefore, summary of a satellite distribution can be a good guide to follow.

##Phase 1

### Exploratory

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#mount the drive
from google.colab import drive
drive.mount('/content/drive')
data_folder = '/content/Shareddrives/MyDrive/ba780-a4-fall2/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import the csv file
import pandas as pd

satellite = pd.read_csv('/content/drive/Shareddrives/ba780-a4-fall22/Dataset/UCS-Satellite-Database-5-1-2022.csv')
print(satellite.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5467 entries, 0 to 5466
Data columns (total 68 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  5465 non-null   object
 1   Current Official Name of Satellite  5465 non-null   object
 2   Country/Org of UN Registry          4968 non-null   object
 3   Country of Operator/Owner           5465 non-null   object
 4   Operator/Owner                      5465 non-null   object
 5   Users                               5465 non-null   object
 6   Purpose                             5465 non-null   object
 7   Detailed Purpose                    1140 non-null   object
 8   Class of Orbit                      5465 non-null   object
 9   Type of Orbit                       4843 non-null   object
 10  Longitude of GEO (degrees)          5464 non-null   float64
 11  Perigee (km)                        5464 non-null   object
 12  Apogee (km)                         5465 non-null   object
 13  Eccentricity                        5465 non-null   float64
 14  Inclination (degrees)               5465 non-null   float64
 15  Period (minutes)                    5449 non-null   float64
 16  Launch Mass (kg.)                   5225 non-null   object
 17   Dry Mass (kg.)                     444 non-null    object
 18  Power (watts)                       580 non-null    object
 19  Date of Launch                      5465 non-null   object
 20  Expected Lifetime (yrs.)            3599 non-null   float64
 21  Contractor                          5463 non-null   object
 22  Country of Contractor               5463 non-null   object
 23  Launch Site                         5464 non-null   object
 24  Launch Vehicle                      5465 non-null   object
 25  COSPAR Number                       5465 non-null   object
 26  NORAD Number                        5465 non-null   float64
 27  Comments                            1810 non-null   object
 28  Unnamed: 28                         4 non-null      object
 29  Source Used for Orbital Data        5272 non-null   object
 30  Source                              3269 non-null   object
 31  Source.1                            243 non-null    object
 32  Source.2                            1410 non-null   object
 33  Source.3                            657 non-null    object
 34  Source.4                            252 non-null    object
 35  Source.5                            70 non-null     object
 36  Source.6                            20 non-null     object
 37  Unnamed: 37                         0 non-null      float64
 38  Unnamed: 38                         0 non-null      float64
 39  Unnamed: 39                         0 non-null      float64
 40  Unnamed: 40                         0 non-null      float64
 41  Unnamed: 41                         0 non-null      float64
 42  Unnamed: 42                         0 non-null      float64
 43  Unnamed: 43                         0 non-null      float64
 44  Unnamed: 44                         0 non-null      float64
 45  Unnamed: 45                         0 non-null      float64
 46  Unnamed: 46                         0 non-null      float64
 47  Unnamed: 47                         0 non-null      float64
 48  Unnamed: 48                         0 non-null      float64
 49  Unnamed: 49                         0 non-null      float64
 50  Unnamed: 50                         0 non-null      float64
 51  Unnamed: 51                         0 non-null      float64
 52  Unnamed: 52                         0 non-null      float64
 53  Unnamed: 53                         0 non-null      float64
 54  Unnamed: 54                         0 non-null      float64
 55  Unnamed: 55                         0 non-null      float64
 56  Unnamed: 56                         0 non-null      float64
 57  Unnamed: 57                         0 non-null      float64
 58  Unnamed: 58                         0 non-null      float64
 59  Unnamed: 59                         0 non-null      float64
 60  Unnamed: 60                         3 non-null      object
 61  Unnamed: 61                         3 non-null      object
 62  Unnamed: 62                         2 non-null      object
 63  Unnamed: 63                         0 non-null      float64
 64  Unnamed: 64                         0 non-null      float64
 65  Unnamed: 65                         0 non-null      float64
 66  Unnamed: 66                         2 non-null      object
 67  Unnamed: 67                         0 non-null      float64
dtypes: float64(33), object(35)
memory usage: 2.8+ MB
None

1. In order to define the id of the dataframe for each record, we first want to exam if 'Name of Satellite, Alternate Names' variables are unique, so that can be used as ID for each observation. As the result, number of unique Satellites are: 5458, and there are: 5467 total number of satellite launched, meaning that satellites with same name can be launched twice. So in next step, we will generate the unique identifier for each satellite.

In [ ]:
## Count unique Name of Stallite, Alternate Names, and see if each row is unique
Num_Satellite = len(satellite['Name of Satellite, Alternate Names'].unique())
Total_Record = len(satellite['Name of Satellite, Alternate Names'])

Total_Record > Num_Satellite
"Number of unique Satellites are: {}, and there are: {} total number of satellite launched".format(len(satellite['Name of Satellite, Alternate Names'].unique()),len(satellite['Name of Satellite, Alternate Names']))

'Number of unique Satellites are: 5458, and there are: 5467 total number of satellite launched'

2. Using the for loop to generate the unique identifier and e

In [ ]:
#Dropping all the unamed and source columns
satellite_clean_1 = (satellite.drop(satellite.iloc[:,28:68] , axis = 1)).copy()
satellite_clean_1.info()
#satellite_clean_1.to_csv('sample_data/satellite_version2.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5467 entries, 0 to 5466
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  5465 non-null   object
 1   Current Official Name of Satellite  5465 non-null   object
 2   Country/Org of UN Registry          4968 non-null   object
 3   Country of Operator/Owner           5465 non-null   object
 4   Operator/Owner                      5465 non-null   object
 5   Users                               5465 non-null   object
 6   Purpose                             5465 non-null   object
 7   Detailed Purpose                    1140 non-null   object
 8   Class of Orbit                      5465 non-null   object
 9   Type of Orbit                       4843 non-null   object
 10  Longitude of GEO (degrees)          5464 non-null   float64
 11  Perigee (km)                        5464 non-null   object
 12  Apogee (km)                         5465 non-null   object
 13  Eccentricity                        5465 non-null   float64
 14  Inclination (degrees)               5465 non-null   float64
 15  Period (minutes)                    5449 non-null   float64
 16  Launch Mass (kg.)                   5225 non-null   object
 17   Dry Mass (kg.)                     444 non-null    object
 18  Power (watts)                       580 non-null    object
 19  Date of Launch                      5465 non-null   object
 20  Expected Lifetime (yrs.)            3599 non-null   float64
 21  Contractor                          5463 non-null   object
 22  Country of Contractor               5463 non-null   object
 23  Launch Site                         5464 non-null   object
 24  Launch Vehicle                      5465 non-null   object
 25  COSPAR Number                       5465 non-null   object
 26  NORAD Number                        5465 non-null   float64
 27  Comments                            1810 non-null   object
dtypes: float64(6), object(22)
memory usage: 1.2+ MB

TypeError: ignored